form{
    padding: 20px;
    width: 300px;
    border-radius: 4px;
    margin: 10px;
    border: 1px dashed;
    display:  block;
    height: auto;
}
input {
    display: block;
    margin-top: 8px;
    padding: 5px;
    width: 200px;
}
button{
    margin-bottom: 5px;
}
