<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Welcome, <%= username %>!</h1>
    <h2 id="points"> You have <%= points %> points</h2>
    <p><a href="/">Go back to main page</a></p>
    <script src="client.js"></script>
</body>
</html>