<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All users</title>
</head>
<style>
    table, th, td{
        border: 1px solid rgb(53, 146, 223);
        border-collapse: collapse;
    }
</style>
<body>
    <h1>Database dump</h1>
    <table id ="output-table" style="width: 100%">
        <thead>
            <th>ID</th>
            <th>Username</th>
            <th>Points</th>
        </thead>
        <tbody>
            <% user.forEach(user => { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.points %></td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <p><a href="/admin/dashborad">Go back to Panel.</a></p>
</body>
</html>